{% extends "title_base.html" %}
{% load static %}
{% block header_extends %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
    <div class="user-body clearfix">
        <div class="user-body-left" style="background-color: rgb(226,244,255); padding: 20px 10px 300px 10px">
            <div class="user-pic">
                <img src="{% static 'image/user.jpg' %}" style="width: 100px">
            </div>
            <div class="user-name">{{ user.username }}</div>
            <a href="{% url 'logout' %}" class="user-logout">退出登录</a>
        </div>
        <div class="main clearfix">
            <div class="list">
                <span class="list-name" id="hear_tab">我分享的歌曲</span>
            </div>
            <div class="songlist" style="display: block;">
                <div class="mod_songlist">
                    <ul class="songlist_header">
                        <li class="songlist_header_name">歌曲</li>
                        <li class="songlist_header_author">歌手</li>
                        <li class="songlist_header_time">分享时间</li>
                        <li class="songlist_header_delete">删除</li>
                    </ul>
                    <ul class="songlist_list">
                        {% for item in contacts.object_list %}
                            <li class="songlist_songname">
                                <a href="{% url 'play' item.id %}"
                                   class="songlist_songname_txt">{{ item.song_name }}</a>
                            </li>

                            <li class="songlist_artist">
                                <a href="#" class="singer_name">{{ item.singer }}</a>
                            </li>
                            <li class="songlist_time">
                                {{ item.song_release }}
                            </li>
                            <li class="songlist_delete">

                                <form method="post">
                                    {% csrf_token %}
                                    <input type="text" name="id_info" style="display: none" value={{ item.id }}>
                                    <input class="btn btn-default del_btn" type="submit" value="Delete">
                                </form>
                            </li>



                        {% endfor %}
                    </ul>
                </div><!--end mod_songlist-->

                <!--分页-->
                <div class="pages clearfix">
                <ul>
                    {# 首页按钮，固定page=1 #}
                    <li><a href='?page=1'>首页</a></li>
                    {# 如果上一页还有数据，那么让其可继续点击进入上一页 #}
                    {% if contacts.has_previous %}
                        <li><a href="?page={{ contacts.previous_page_number }}" data-ey_fc35fdc="html" data-tmp="1">上一页</a>
                        </li>
                        {# 如果上一页没有数据了，那么不让做任何操作 #}
                    {% else %}
                    {% endif %}

                    {# 由后端经逻辑判断后的page_range页数列表进行迭代 #}
                    {% for num in contacts.paginator.page_range %}
                        {# 如果循环的页码与当前查看的页码相等，那么就让其高亮显示 #}
                        {% if num == contacts.number %}
                            <li class="thisclass"><a>{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}" data-ey_fc35fdc="html" data-tmp="1">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {# 如果当前页还有下一页，那么让其可以点击进入下一页 #}
                    {% if contacts.has_next %}
                        <li><a href="?page={{ contacts.next_page_number }}" data-ey_fc35fdc="html" data-tmp="1">下一页</a></li>
                    {% endif %}

                    {# 跳转到尾页，让page参数直接等于总页数 #}
                    <li><a href='?page={{ paginator.num_pages }}'>尾页</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    </div><!-- end main -->
    </div>

{% endblock %}
