{% extends "title_base.html" %}
{% load static %}

{% block header_extends %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}
{% block content %}
    <div style="margin: 30px 15% 0 15%">
        <div class="breadcrumb">
            <a href="/">首页</a> &gt;
            <a href="{% url 'play' song_id %}" target="_self">{{ song_name }}</a> &gt;
            <span>点评</span>
        </div>
        <div class="section">
            <div class="section-header">
                <p class="section-title">网友点评</p>
            </div>
            <div class="section-body">
                <!--点评框-->
                <div class="comments-box">
                    <div class="comments-box-title">我要点评<<{{ song_name }}>></div>
                    <form action="" method="post" id="usrform">
                        {% csrf_token %}
                        <div class="writebox">
                            <textarea name="comment" form="usrform" style="width: 400px; height: 400px;"></textarea>
                        </div>
                        <div class="comments-box-button clearfix">
                            <input type="submit" value="发布" class="comment-btn" id="scoreBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="content" style="margin-top: 30px">
                <div class="content-header">
                    <p class="content-title">评论</p>
                </div>

                <ul class="comment-list">
                    {% for item in contacts.object_list %}
                        <li class="comment-item ">
                            <div class="comments-user">
                                <span class="face">
                                    <img src="{% static 'image/user.jpg' %}" width="60" height="60">
                                </span>
                            </div>
                            <div class="comments-list-content">
                                <div class="single-score clearfix">
                                    <span class="score">{{ item.comment_user }}</span>
                                    <div class="date">
                                        {{ item.comment_date }}
                                    </div>
                                </div>
                                <!--comments-content-->
                                <div class="comments-content">
                                    <div class="comments-words">
                                        <p>{{ item.comment_text }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pages clearfix">
                    <ul>
                        {# 首页按钮，固定page=1 #}
                        <li><a href='?page=1'>首页</a></li>
                        {# 如果上一页还有数据，那么让其可继续点击进入上一页 #}
                        {% if contacts.has_previous %}
                            <li><a href="?page={{ contacts.previous_page_number }}" data-ey_fc35fdc="html" data-tmp="1">上一页</a>
                            </li>
                            {# 如果上一页没有数据了，那么不让做任何操作 #}
                        {% else %}
                        {% endif %}

                        {# 由后端经逻辑判断后的page_range页数列表进行迭代 #}
                        {% for num in contacts.paginator.page_range %}
                            {# 如果循环的页码与当前查看的页码相等，那么就让其高亮显示 #}
                            {% if num == contacts.number %}
                                <li class="thisclass"><a>{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}" data-ey_fc35fdc="html" data-tmp="1">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {# 如果当前页还有下一页，那么让其可以点击进入下一页 #}
                        {% if contacts.has_next %}
                            <li><a href="?page={{ contacts.next_page_number }}" data-ey_fc35fdc="html"
                                   data-tmp="1">下一页</a></li>
                        {% endif %}

                        {# 跳转到尾页，让page参数直接等于总页数 #}
                        <li><a href='?page={{ paginator.num_pages }}'>尾页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
